.admintables {
  position: absolute;
  margin: auto;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}
.admintables h1 {
  margin-top: 3%;
  mix-blend-mode: overlay;
  font-size: 43px;
  text-shadow: 0 0 12px black;
}
.admintables .admintable-card {
  margin: auto;
  min-width: 100%;
  margin-top: 1%;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
table{
  cursor: grabbing;
}
.admintables .table tr {
  color: aliceblue;
}
.admintables .table th {
  color: rgb(184, 210, 232);
  font-size: 28px;
  text-shadow: 0 0 12px black;
}
.admintables .table-hover > tbody > tr:hover > * {
  cursor: pointer;
  transition: all ease in 3s;
  color: rgb(163, 224, 247);
  background-color: rgba(0, 0, 0, 0.637);
}

@media only screen and (max-width: 600px) {
  .admintables h1 {
    margin-top: 20%;
    mix-blend-mode: overlay;
    font-size: 23px;
    text-shadow: 0 0 12px black;
  }
  .admintables .admintable-card {
    margin-top: 2%;
    padding: 0;
    border-radius: 12px;
  }
  .admintables .table th {
    font-size: 18px;
  }
}
