.cartPic {
  margin: auto;
  width: 100px;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.cartbtn {
  background: transparent;
  border: none;
}
.Cart h4 {
  text-transform: capitalize;
}
.modal-body {
  background-color: transparent;
}
.modal-content {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  backdrop-filter: blur(12px);
  color: white;
}
.card {
  /* background-color: rgba(174, 47, 193, 0.233); */
  background: linear-gradient(
    45deg,
    rgba(0, 19, 71, 0.733),
    rgba(1, 112, 108, 0.801)
  );
  backdrop-filter: blur(4px);
  margin-bottom: 2%;
  border: 1px solid white;
}
.card a {
  margin: auto;
  width: fit-content;
  margin-top: auto;
  margin-bottom: 10px;
}
.main-body-light .modal-content {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  color: black;
}
.btn-close {
  background-color: aliceblue;
}
.card img {
  margin: auto;
}
