.offcanvas{
    background-color: transparent;
    color: white;
    backdrop-filter: blur(22px);
    box-shadow: 0 0 12px rgb(0, 1, 64);
}
.offcanvas-body h1{
    color: white;
    font-size: 52px;
    text-shadow: 0 0 12px rgb(255, 153, 0);
}
.offcanvas-title{
    margin: auto;
    font-size: 28px;
}
.offcanvas form input{
    background-color: transparent;
    width: 140%;
    margin: 10px;
    color: aliceblue;
    padding: 10px;
    border-radius: 22px;
}

::placeholder{
    color: aliceblue;
}
.canvasbtn{
    border-radius: 42px;
    color: aliceblue;
    margin-top: 18px;
    width: 100%;
    padding: 12px 24px;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.744),rgba(128, 0, 128, 0.763));
    border: 2px solid white;
}
.canvasbtn:hover{
    background: linear-gradient(45deg,rgba(128, 0, 128, 0.763), rgba(0, 0, 255, 0.744));
}

@media only screen and (max-width: 600px) {
    .offcanvas form input{
        width: 100%;
    }
  }