.Rating-container {
  margin-left: 45%;
  width: 50%;
}
.Rating-container .rating {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 0.8em;
  font-size: 4vw;
  color: #4e0082;
  cursor: pointer;
}
.main-body-dark .rating > label{
  color: #ffd700;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
@media only screen and (max-width: 600px) {
  .Rating-container {
    margin: 12px 8px;
    width: 100%;
  }
}