.table th {
  font-weight: 700;
  font-size: 22px;
}
.main-body-dark .table tr {
  color: aliceblue;
}
.main-body-dark .table-hover > tbody > tr:hover > * {
  color: rgb(163, 224, 247);
}
.modal-header {
  text-transform: capitalize;
}

.modal td {
  box-shadow: 0 0 12px #126091cf;
  text-align: center;
  border-radius: 12px;
  padding: 8px;
}
.modal th {
  box-shadow: 0 0 22px #126091cf;
  text-decoration: underline;
  padding: 8px;
}
.modal th:hover {
  color: #072358;
  cursor: pointer;
}

.modal tr:nth-child(odd) {
  background-color: #3aceff5b;
  box-shadow: 0 0 12px #3aceff5b;
}
@media only screen and (max-width: 600px) {
  .table th {
    font-weight: 700;
    font-size: 14px;
  }
  .table tr {
    font-size: 10px;
  }
}
.service-delete i:hover{
  color: rgb(237, 81, 14);
  cursor: pointer;
}