.community-card {
    display: flex;
    max-width: 800px;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    position: relative;
}

@media (max-width: 800px) {
    .community-card {
        flex-direction: column;
        width: 100%;
    }
}