.community-cardInfoContainer {
    width: 100%;
}

/* card header  */
.community-cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.community-cardHeaderText {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    gap: 10px;
}

.community-profilePicture {
    width: 40px;
}

.community-badge {
    background-color: #5357b7;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 1px 2px;
    border-radius: 4px;
}

.community-btn {
    color: #5357b7;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.community-btndelete {
    color: #f06664;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.community-btndelete + .community-btn {
    margin-left: 15px;
}

.community-btnIcon {
    margin-right: 5px;
}

.community-btn:hover .community-btnIcon, .community-btndelete:hover .community-btnIcon{
    opacity: .5;
}

.community-btn:hover {
    color: #c4c6ef;
}

.community-btndelete:hover {
    color: #fdb9ba;
}

/* card text  */

.community-cardText {
    margin-top: 10px;
    line-height: 25px;
    width: 100%;
    color: rgb(90, 90, 90);
}

.community-cardText textarea {
    width: 100%;
    height: 120px;
}

.community-cardText form {
    display: flex;
    flex-direction: column;
}

.community-cardText button {
    align-self: flex-end;
    padding: .5em 1em;
    border: none;
    background-color: #5357ba;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.community-cardText button:hover {
    opacity: .5;
}

.community-replyto {
    color: #5357ba;
    font-weight: bolder;
}


@media (max-width: 800px) {
    .community-cardHeaderBtns {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }

    .community-cardHeaderText {
        flex-basis: 100%;
    }
}
