 .container{
    color: black;
    justify-content: left;
 }
 .card {
     position: relative;
     display: flex;
     padding:20px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

.media img{
      
    width: 60px;
    height: 60px;
}


.reply a {
    
    text-decoration: none;
}