
.forgot-background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.forgot-background .forgot-shape{
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px black;
}
.main-body-dark .forgot-background .forgot-shape{
    box-shadow: 0 0 12px rgb(93, 93, 93);
}
.forgot-shape:first-child{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    left: -120px;
    top: -100px;
}
.forgot-shape:last-child{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    right: -100px;
    bottom: -100px;
}
.forotcontainer form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.576);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.forotcontainer form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.forotcontainer form h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    text-shadow: 0 0 4px black;
}
.main-body-light .forotcontainer form *{
    color: black;
}
.main-body-light .forotcontainer form h3{
    text-shadow: 0 0 2px rgb(230, 227, 227);
}
.forotcontainer input{
    text-align: center;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-bottom: 2px solid white;
    border-radius: 32px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}
.forotcontainer ::placeholder{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #460261;
}
.forotcontainer button{
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.744),rgba(128, 0, 128, 0.763));
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 35px;
    cursor: pointer;
}
.main-body-light .forotcontainer button{
    color: white;
}
.forotcontainer button:hover{
    transition: all ease-in-out 0.4s;
    background: linear-gradient(45deg,rgba(128, 0, 128, 0.763), rgba(0, 0, 255, 0.744));
}
.forgotani-circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.forgotani-circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(-225deg, #2cd8d5b7 0%, #c5c1ffbb 56%, #ffbac3b8 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.main-body-light .forgotani-circles li{
  background-image: linear-gradient(to top, #0250c57b 0%, #d43f8c72 100%);
}

.forgotani-circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.forgotani-circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.forgotani-circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.forgotani-circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.forgotani-circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.forgotani-circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.forgotani-circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.forgotani-circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.forgotani-circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.forgotani-circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}