h1{
    color: white;
    font-weight: 900;
    font-size: 32px;
    /* mix-blend-mode: overlay; */
}
.home-container p{
    color: aliceblue;
    text-align: justify;
}
@keyframes floatery {
    0%{transform: translateY(100%);transition: ease 5s;}
  }
.home-container{
    animation: floatery 1s;
    backdrop-filter: blur(7px);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: fit-content;
    padding: 3%;
    border-radius: 12px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.242);
}