h1 {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
}

.sign {
  margin: auto;
  width: fit-content;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b183970,
    transparent
  );
  letter-spacing: 2;
  text-transform: uppercase;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff75, 0 0 1.5rem #ff65bc6c,
    -0.2rem 0.1rem 1rem #ff65bc75, 0.2rem 0.1rem 1rem #ff65bc7d,
    0 -0.5rem 2rem #ff248381, 0 0.5rem 3rem #ff248381;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff92, 0 0 1.5rem #ff65bc92,
      -0.2rem 0.1rem 1rem #ff65bc90, 0.2rem 0.1rem 1rem #ff65bc94,
      0 -0.5rem 2rem #ff248393, 0 0.5rem 3rem #ff248395;
  }
  28%,
  33% {
    color: #ff65bc8a;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483a0;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ffa7, 0 0 1.5rergba(255, 101, 188, 0.658)bd,
      -0.2rem 0.1rem 1rem #ff65bcb0, 0.2rem 0.1rem 1rergba(255, 101, 188, 0.637)bd,
      0 -0.5rem 2rem #ff2483a2, 0 0.5rem 3rergba(255, 36, 131, 0.63)83;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/* Ani effect */
.home-container-portfolio p {
  text-align: justify;
}
@keyframes floatery {
  0% {
    transform: translateY(100%);
    transition: ease 5s;
  }
}
.home-container-portfolio {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: auto;
  animation: floatery 1s;
  backdrop-filter: blur(17px);
  width: 50%;
  height: fit-content;
  padding: 3%;
  border-radius: 12px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.242);
}
.home-container-portfolio-faqsautobot {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: auto;
  animation: floatery 1s;
  backdrop-filter: blur(7px);
  width: 50%;
  height: fit-content;
  padding: 3%;
  border-radius: 12px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.242);
}
.main-body-light .home-container-portfolio {
  border: 2px solid rgb(0, 0, 0);
}

.wrapper {
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-right: 0;
  background: transparent;
  padding: 50px;
  text-align: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* FAQ's */

.faqsautobot {
  overflow-x: hidden;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.faqpanel-title {
  font-weight: 500;
  font-size: 21px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0px 10px 0 58px;
  display: block;
  cursor: pointer;
}

.faqpanel-content {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #33333391;
  backdrop-filter: blur(12px);
  text-align: justify;
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.faqpanel:checked ~ .faqpanel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  background-color: rgb(0, 163, 155);
  border-radius: 42px;
  color: white;
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 65%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.main-body-light .plus {
  background-color: rgb(255, 106, 42);
}
.faqpanel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faqpanel {
  display: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 22px;
  }
  .home-container-portfolio {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .home-container-portfolio-faqsautobot {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .faqpanel-title {
    font-size: 20px;
  }
  .faqpanel-content {
    font-size: 16px;
    width: 95%;
    margin: 4px 12px;
  }
}
/* @media only screen and (min-width: 600px) {
} */
