.landing-slider {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.landing-slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 14s landing-slider infinite;
}
.landing-slider figure img {
  width: 20%;
  float: left;
}

@keyframes landing-slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.welcomenoteland {
  position: absolute;
  left: 5%;
  top: 30%;
  max-width: 40%;
  /* backdrop-filter: blur(2px); */
}
.welcomenoteland h1 {
  color: antiquewhite;
  font-size: 92px;
  font-weight: 900;
  letter-spacing: 2px;
  /* mix-blend-mode: overlay; */
  text-shadow: 0 0 8px rgb(0, 0, 0);
}
.welcomenoteland p {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
}
.landbtn-container {
  margin-left: auto;
  margin-right: 0;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px;
}
.landbtn-container .landbtn-btn {
  margin: 15px;
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 60px;
  display: flex;
}
.landbtn-container .landbtn-btn a {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  text-shadow: 0 0 12px black;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  /* border: 2px solid white; */
  box-shadow: 2px 2px 2px rgb(104, 104, 104);
}
.landbtn-container .landbtn-btn:hover a {
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 3px;
}
.landbtn-container .landbtn-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.landbtn-container .landbtn-btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.landbtn-container .landbtn-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: rgb(204, 68, 5);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.landbtn-container .landbtn-btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.landbtn-container .landbtn-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.landbtn-container .landbtn-btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
@media only screen and (max-width: 600px) {
  .landbtn-container {
    padding: 0;
    position: static;
    margin-top: 25%;
    flex-direction: column;
    max-width: 100%;
  }
  .landbtn-container .landbtn-btn {
    max-width: 100vw;
    margin: 12px 0;
    width: 100%;
    height: 50px;
  }
  .landing-slider {
    box-shadow: 0 0 12px black;
    padding: 4px;
  }
  .welcomenoteland {
    position: static;
    margin-top: auto;
    width: auto;
    padding: 20px;
  }
  .welcomenoteland h1 {
    font-size: 32px;
  }
  .welcomenoteland p {
    font-size: 12px;
  }
}
