.image-slider-cont {
  position: fixed;
  animation: abtfloaterx 1s;
  margin-top: 16%;
  margin-left: 23%;
  margin-right: auto;
  width: 84vmin;
  transform: translate(-50%, -50%);
}
.image-slider-cont h1 {
  color: rgb(170, 224, 255);
}
.main-body-light .image-slider-cont h1 {
  color: rgb(0, 0, 0);
}
.gallery-container {
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 12px;
  box-shadow: 10px 25px 30px rgba(0, 136, 134, 0.384);
}
.main-body-light .gallery-container {
  border: 2px solid #000000;
}
.gallery-wrapper {
  width: 100%;
  display: flex;
  animation: slide 11s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.gallery-wrapper img {
  width: 100%;
}

/* Button neon */

.slider-neon-btn {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  margin-top: 10%;
  align-items: center;
  font-family: consolas;
}
.slider-neon-btn a {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgba(0, 108, 202, 0.612);
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 1s;
  backdrop-filter: blur(0.7em);
}

.slider-neon-btn a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.3s;
}

.slider-neon-btn a span {
  position: absolute;
  display: block;
}

.slider-neon-btn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.slider-neon-btn a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.slider-neon-btn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.slider-neon-btn a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.slider-neon-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.slider-neon-btn a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.slider-neon-btn a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.slider-neon-btn a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media only screen and (max-width: 600px) {
  .gallery-container {
    border-radius: 6px;
  }
  .image-slider-cont {
    position: static;
    margin: 5% 0;
    width: 100%;
    transform: translate(0%, 0%);
  }
  .slider-neon-btn {
    display: inline-block;
    margin: 15px 0;
    margin-bottom: 0;
    align-items: center;
    font-family: consolas;
  }
  .slider-neon-btn a {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    box-shadow: 0 0 12px black;
  }
  .main-body-light .slider-neon-btn a {
    color: #000000;
  }
}
/* @media only screen and (min-width: 600px) {
} */
