.vidbackground {
  /* z-index: -1 */
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.vidbackground video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}
.adminwelcome {
  margin: auto;
  margin-top: 10%;
  text-shadow: 0 0 22px black;
  color: white;
}
.adminwelcome h1 {
  font-size: 92px;
  mix-blend-mode: overlay;
  font-weight: 900;
}
.adminwelcome h2 {
  mix-blend-mode: overlay;
  font-size: 82px;
  font-weight: 700;
}
.tooltipadmin .historybtns {
  top: 3%;
  position: fixed;
  left: 1%;
}
.tooltipadmin .historybtns .history-btn:nth-child(1)::before, /*chnage 1*/
  .historybtns .history-btn:nth-child(1)::after {
  background: #e3650a;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}
.tooltip-buttons {
  margin: 0 1%;
  text-align: center;
}

.tooltip-btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tooltip-btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tooltip-btn-hover:focus {
  outline: none;
}

.tooltip-btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.tooltip-btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.tooltip-btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.tooltip-btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.tooltip-btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.tooltip-btn-hover.color-10 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.tooltip-btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}



@media only screen and (max-width: 600px) {
  .adminwelcome h1{
    margin-top: 45%;
    font-size: 62px;
    display: flex;
  }
  .adminwelcome h2{
    font-size: 42px;
    display: flex;
  }
}