.Overview {
  position: relative;
  width: 100%;
  margin: auto;
}
.Overview .container{
    margin-top: 3%;
}
.Overview .overview-card {
  transition: all ease-in-out 0.6s;
  margin: auto;
  margin-bottom: 3%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  max-height: 500px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.Overview .overview-card:hover{
  transition: all ease-in-out 1s;
  border-radius: 65% 35% 28% 72% / 62% 70% 30% 38%  ;
  transform: scale(1.04);
  border: 2px solid rgba(255, 255, 255, 0.667);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.521);
}
.Overview .overview-card i{
    margin: auto;
    font-size: 110px;
    color: rgb(216, 241, 201);
}
.Overview .overview-card p{
  margin-top: 8px;
  font-size: 18px ;
}
.Overview .overview-card strong{
  color: rgb(163, 244, 235);
  text-shadow: 0 0 16px black;
  font-weight: 900;
  font-size: 42px;
}
.Overview .overview-card-footer{
  color: aqua;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0 0 12px black;
  letter-spacing: 2px;
}
