.ProductsPage{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}
.product-container{
    position: relative;
}
.product-container .product-card{
    display: inline-block;
    margin-top: 7%;
    margin: 10px;
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323f3;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.product-container .product-card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.product-container .product-card:after {
    content: "Autobot";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.product-container .product-card .product-imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.product-container .product-card:hover .product-imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.product-container .product-card .product-imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 270px;
}

.product-container .product-card .product-contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.product-container .product-card:hover .product-contentBx {
    height: 210px;
}

.product-container .product-card .product-contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.product-container .product-card .product-contentBx .product-size,
.product-container .product-card .product-contentBx .product-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.product-container .product-card:hover .product-contentBx .product-size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.product-container .product-card:hover .product-contentBx .product-color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.product-container .product-card .product-contentBx .product-size h3,
.product-container .product-card .product-contentBx .product-color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.product-container .product-card .product-contentBx .product-size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.product-container .product-card .product-contentBx .product-size span:hover {  /* other bug */
    background: #B90000;
}

.product-container .product-card .product-contentBx .product-color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.product-container .product-card .product-contentBx .product-color span:nth-child(2) {
     background: #1BBFE9;
}

.product-container .product-card .product-contentBx .product-color span:nth-child(3) {
     background: #1B2FE9;
}

.product-container .product-card .product-contentBx .product-color span:nth-child(4) {
     background: #080481;
}

.product-container .product-card .product-contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.product-container .product-card:hover .product-contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 