.abt-container {
  padding: 22px;
  position: absolute;
  animation: abtfloaterx 1s;
  margin-left: 5%;
  /* margin-top: 3%; */
  backdrop-filter: blur(10px);
  width: 42%;
  border-radius: 12px;
  box-shadow: 10px 25px 30px rgba(0, 136, 134, 0.384);
}
.Aboutani{
  margin-top: 7%;
  overflow: hidden;
}

@keyframes abtfloaterx {
  0% {
    transform: translateX(-100%);
    transition: ease 5s;
  }
}
@keyframes abtfloaterxr {
  0% {
    transform: translateX(100%);
    transition: ease 5s;
  }
}
@keyframes abtfloatery {
  0% {
    transform: translateY(100%);
    transition: ease 5s;
  }
}

.abt-container1 img {
  border-radius: 100%;
  width: 22%;
  position: absolute;
  left: 2%;
  top: 20%;
  box-shadow: 0px 0px 15px rgb(0, 221, 255);
}
.abt-container2 img {
  border-radius: 100%;
  width: 21%;
  position: absolute;
  left: 2%;
  top: 16%;
  box-shadow: 0px 0px 15px rgb(0, 221, 255);
}
.Aboutani img:hover{
  transition:all ease-in-out 0.4s;
  cursor: pointer;
  transform: scale(1.09);
}
.abt-container img {
  border-radius: 100%;
  width: 22%;
  position: absolute;
  left: 2%;
  top: 20%;
  box-shadow: 0px 0px 15px rgb(0, 221, 255);
}

.abt-container1 {
  padding: 22px;
  position: fixed;
  animation: abtfloaterxr 1s;
  position: relative;
  margin-left: auto;
  margin-right: 5%;
  backdrop-filter: blur(10px);
  width: 42%;
  border-radius: 12px;
  box-shadow: 10px 25px 30px rgba(0, 136, 134, 0.384);
}
.abt-container2 {
  padding: 22px;
  animation: abtfloatery 1s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  backdrop-filter: blur(10px);
  width: 48%;
  border-radius: 12px;
  box-shadow: 10px 25px 30px rgba(0, 136, 134, 0.384);
}

.abt-container1 p {
  color: aliceblue;
  padding-left: 25%;
  text-align: justify;
}
.abt-container p {
  color: aliceblue;
  padding-left: 25%;
  text-align: justify;
}
.abt-container2 p {
  color: aliceblue;
  padding-left: 25%;
  text-align: justify;
}

.Aboutani a {
  text-align: center;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  color: aqua;
  font-size: 200%;
  font-weight: 900;
}
.abt-container2 a {
  padding-left: 4%;
}




@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}



:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	border: 0.25rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
