.abt-container{
    padding: 22px;
    position: fixed;
    animation: abtfloaterx 1s;
    margin-left: 5%;
    /* margin-top: 3%; */
    backdrop-filter: blur(10px);
    width: 42%;
    border: 1px solid white;
}
@keyframes abtfloaterx {
    0%{transform: translateX(-100%);transition: ease 5s;}
}
@keyframes abtfloaterxr {
    0%{transform: translateX(100%);transition: ease 5s;}
}
@keyframes abtfloatery {
    0%{transform: translateY(100%);transition: ease 5s;}
}
.abt-container1{
    padding: 22px;

    position: fixed;
    animation: abtfloaterxr 1s;
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 4%;
    backdrop-filter: blur(10px);
    width: 42%;
    border: 1px solid white;
}
.abt-container2{
    padding: 22px;
    animation: abtfloatery 1s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    backdrop-filter: blur(10px);
    width: 42%;
    border: 1px solid white;
}

.Aboutani p{
    color: aliceblue;
}