/* .LoaderBuffer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(32px);
  background-color: rgba(0, 0, 0, 0.558);
} */

.loading-loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 6.25em;
  height: 6.25em;
  animation: rotate5123 2.4s linear infinite;
}

.loading-white {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  animation: flash 2.4s linear infinite;
  opacity: 0;
}

.loading-dot {
  position: absolute;
  margin: auto;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}

.loading-dot:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 0;
  background: #ff4444;
  animation: dotsY 2.4s linear infinite;
}

.loading-dot:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  background: #ffbb33;
  animation: dotsX 2.4s linear infinite;
}

.loading-dot:nth-child(4) {
  top: 0;
  bottom: 0;
  right: 0;
  background: #99cc00;
  animation: dotsY 2.4s linear infinite;
}

.loading-dot:nth-child(5) {
  left: 0;
  right: 0;
  bottom: 0;
  background: #33b5e5;
  animation: dotsX 2.4s linear infinite;
}

@keyframes rotate5123 {
  0% {
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.25em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}

@keyframes dotsY {
  66% {
    opacity: 0.1;
    width: 2.4em;
  }

  77% {
    opacity: 1;
    width: 0;
  }
}

@keyframes dotsX {
  66% {
    opacity: 0.1;
    height: 2.4em;
  }

  77% {
    opacity: 1;
    height: 0;
  }
}

@keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
  }
}


.center {
  transition: all ease-in-out 1s;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.buttonload-wave {
  transition: all ease-in-out;
  width: 3px;
  height: 31px;
  background: linear-gradient(45deg, rgb(121, 5, 163), #fff);
  margin: 10px;
  animation: buttonload-wave 1s linear infinite;
  border-radius: 20px;
}
.buttonload-wave:nth-child(2) {
  animation-delay: 0.1s;
}
.buttonload-wave:nth-child(3) {
  animation-delay: 0.2s;
}
.buttonload-wave:nth-child(4) {
  animation-delay: 0.3s;
}
.buttonload-wave:nth-child(5) {
  animation-delay: 0.4s;
}
.buttonload-wave:nth-child(6) {
  animation-delay: 0.5s;
}
.buttonload-wave:nth-child(7) {
  animation-delay: 0.6s;
}
.buttonload-wave:nth-child(8) {
  animation-delay: 0.7s;
}
.buttonload-wave:nth-child(9) {
  animation-delay: 0.8s;
}
.buttonload-wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes buttonload-wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}